body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/internacional.png);
    background-size: cover;
    background-position: center;
}

.thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thank-you-card {
    background-color: #fff;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(108, 180, 228, 0.534);
    border: 3px solid rgba(108, 180, 228, 0.534);
    border-radius: 10px;
    text-align: center;
}

.thank-you-card h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.thank-you-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

#pagar-btn {
    padding: 10px 20px;
    background-color: #06779d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#pagar-btn:hover {
    background-color: #06779d80;
}
